﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @{
        var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
        var serverUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
        var controllerUrl = Url.Content("~") + controllerName;
    }
<script>
    window.ServerUrl = '@serverUrl';
    window.VueRouterUrl = '@controllerUrl';
</script>
    @Scripts.Render("~/Scripts/app/" + controllerName + "/bundle.js")


</body>
</html>
